<h1 nz-typography>Planets</h1>
<nz-input-group [nzSuffix]="suffixIconSearch">
  <input type="text" [(ngModel)]="params" nz-input placeholder="Search for a planet's name..." />
</nz-input-group>
<ng-template #suffixIconSearch>
  <button nz-button nzType="primary" nzSearch (click)="loadData(page, params)">
    <i nz-icon nzType="search"></i>
  </button>
</ng-template>
<br />
<br />
<nz-spin style="display: grid; place-items: center;" *ngIf="loading" nzSimple [nzSize]="'large'"></nz-spin>
<nz-empty *ngIf="planets <= 0"></nz-empty>
<nz-list nzGrid *ngIf="planets">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="12" [nzXs]="24" *ngFor="let planet of planets;">
      <nz-list-item>
        <app-planetCard [planet]="planet"></app-planetCard>
      </nz-list-item>
    </div>
  </div>
</nz-list>
<div style="display: grid; place-items: center; margin-bottom: 1em">
  <ng-template #totalTemplate><span>{{total}} planets</span></ng-template><br />
  <nz-pagination [(nzPageIndex)]="page" [nzTotal]="total" [nzSize]="'small'" (nzPageIndexChange)="nextPage($event)" [nzShowTotal]="totalTemplate"></nz-pagination>
</div>
